@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans, Arial, Helvetica, sans-serif);
  --font-mono: var(--font-geist-mono, monospace);
}

@media (prefers-color-scheme: dark) {
  :root {
    --PRIMARY-TEAL:  #008080; 
    --PRIMARY-GRAY: #433E3F;
    --SECONDARY-GRAY: #444444;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  body {
    background: #fff; /* Set background to white */
    color: var(--foreground);
    font-family: var(--font-sans);
    min-height: 100vh;
  }

  .bg-primaryTeal {
    background-color: var(--PRIMARY-TEAL);
  }

  .border-Gray {
    border-color: var(--PRIMARY-GRAY);
  }

  .text_Gray {
    color: var(--SECONDARY-GRAY);
  }
}
